@import '/css/mystyles.css';

.has-no-left-border-radius{
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.has-light-blue-background{
  border-style: solid;
  border-color: rgb(133, 233, 207);
  border-width: 1px;
}

.button:hover{
  box-shadow: 0 0 5px 1px #7de2d1;
}

.is-inactive{
  cursor: default !important;
  box-shadow: none !important;
  background-color: rgb(147, 142, 142) !important;
  border-width: 0px !important;
  z-index: auto !important;
}



#favored-currency-dropdown, #favored-currencies-tag-container {
  max-width: 600px;
}

.dropdown-content {
  max-height: 13em;
  overflow: auto;
}

/* scrollbar Styling */
.dropdown-content::-webkit-scrollbar {
  background-color: #FFFAFF;
  width: 16px;
}
.dropdown-content::-webkit-scrollbar-button {
  display:none;
}
.dropdown-content::-webkit-scrollbar-thumb {
  background-color: #3E92CC;
  border-radius: 16px;
  border: 4px solid #FFFAFF;
}
.dropdown-content::-webkit-scrollbar-track {
  background-color: #FFFAFF;
  border-radius: 16px;
}
